<!-- Start Header -->
<div class="row">
  <h1 class="text-center">ABOUT</h1>
</div>
<!-- End Header -->

<!-- Start Content -->
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <a href="#" class="thumbnail">
      <img src="https://pixabay.com/static/uploads/photo/2016/06/14/00/14/cat-1455468_960_720.jpg" alt="...">
    </a>
  </div>
  <div class="col-xs-12 col-sm-6">
      <p>
	  	Sed sem ligula, aliquet vel ultrices nec, rutrum nec ipsum. Pellentesque et enim iaculis, pulvinar sem eget, pharetra velit. Suspendisse lacus elit, pharetra ac massa at, pulvinar condimentum urna. Praesent vitae quam sed tellus pulvinar elementum. Morbi facilisis ante vitae libero bibendum pretium. Ut ornare neque vel massa commodo malesuada. Aenean ornare nulla metus, congue faucibus eros auctor vitae. Fusce nec augue ultricies, lobortis ipsum eu, vestibulum nisl.
	  </p>
	  <p>
	  	Nullam nec ligula accumsan, vehicula nulla in, pulvinar nulla. Quisque sed orci porta, vestibulum purus quis, semper sem. Phasellus rutrum facilisis libero, ac consequat nisi lacinia at. Donec viverra auctor lectus at pharetra. Donec efficitur placerat enim in fermentum. Morbi vehicula, ligula condimentum lobortis tempor, dolor sem consectetur nulla, in hendrerit magna massa ut magna. Quisque ornare lectus dolor, ac iaculis lacus elementum at. Donec et mattis arcu. Cras non elementum sapien. Aenean bibendum vel sapien ac dignissim. Pellentesque a ornare lorem, eu blandit justo. Nunc a est suscipit, luctus massa posuere, tempus nibh. Phasellus sit amet ultrices odio. Nunc et erat vel elit elementum suscipit vitae quis neque. Duis suscipit iaculis ipsum at venenatis.
	  </p>
	  <p>
	  	Mauris nunc nisi, placerat a malesuada nec, eleifend a purus. Quisque finibus elementum augue, at vehicula nunc posuere id. Pellentesque condimentum dolor eget sem lacinia vulputate. Nunc tempus metus sit amet pharetra vestibulum. Nunc mattis eros leo, sed lacinia arcu pretium ut. Fusce cursus, mauris non pellentesque pulvinar, libero nulla egestas eros, quis rutrum erat odio sed nisi. Morbi nunc metus, ultrices nec tincidunt nec, fermentum ac nibh. Quisque in hendrerit eros, eu convallis mauris. Aliquam et purus odio. Curabitur dignissim est non pellentesque ultricies. Vivamus luctus tincidunt diam in gravida. Duis lacus tellus, mattis eu tortor suscipit, tincidunt bibendum diam. Nulla quis elementum erat. Sed volutpat quam ante, id aliquet enim fringilla vitae. Etiam pellentesque ut elit feugiat mattis. Nulla vulputate sem erat, id venenatis nulla commodo ac.
	  </p>
	  <p>
	  	Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed nibh mauris, cursus facilisis justo finibus, hendrerit tristique odio. Nulla nisi dui, sodales a sagittis at, dignissim ac nulla. Nullam eu arcu molestie, cursus ante quis, viverra sapien. Vivamus condimentum nisi eget pharetra dictum. Cras faucibus sit amet diam ut mattis. Suspendisse elit tellus, pellentesque ut metus non, elementum porta ante. Proin eget scelerisque nisi, congue elementum urna. Nulla pulvinar elit non orci tristique congue.
	  </p>
  </div>
</div>
<!-- End Content -->
