<!-- Start Header -->
<div class="row">
  <h1 class="text-center">ACADEMIC</h1>
</div>
<!-- End Header -->

<!-- Start Story 1 -->
<div class="row">
  <iframe src="https://calendar.google.com/calendar/embed?title=Academic%20Calendar%2C%20A.Y.%202016%20-%202017&amp;height=550&amp;wkst=1&amp;hl=en&amp;bgcolor=%23ffffff&amp;src=maylynstalampas%40gmail.com&amp;color=%2329527A&amp;src=%23contacts%40group.v.calendar.google.com&amp;color=%2328754E&amp;src=fil.philippines%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=Asia%2FManila" style="border:solid 1px #777" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
</div>