<!-- Start Header -->
<div class="row">
  <h1 class="text-center">CAMPUS LIFE</h1>
</div>
<!-- End Header -->

<!-- Start Story 1 -->
<div class="row">
  <!-- Start Image Div -->
  <div class="col-xs-12 col-sm-6">
    <a href="#" class="thumbnail">
      <img src="https://pixabay.com/static/uploads/photo/2016/07/11/07/40/farm-girl-1509198_960_720.jpg" alt="...">
    </a>
  </div>
  <!-- End Image Div -->

  <!-- Start Caption Div -->
  <div class="col-xs-12 col-sm-6">
    <h3>Lorem Ipsum Title</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales mi eget aliquet porttitor. Donec ac arcu velit. Vestibulum finibus blandit massa ac viverra. Integer in erat id dolor consequat gravida vel at elit. Donec convallis vel leo vitae faucibus. Integer bibendum dui ac nisi volutpat tincidunt. Donec vitae risus ac lectus fermentum pretium eu eu nisl. Quisque ornare sagittis tortor, a luctus erat efficitur id. Integer sed felis et magna rutrum dapibus vel semper urna. Suspendisse placerat molestie pretium. In eu congue mi, laoreet vulputate leo. Cras id nunc quis ante feugiat lobortis ac quis diam. Suspendisse consequat accumsan velit.</p>
  </div>
  <!-- End Caption Div -->
</div>
<!-- End Story 1 -->

<!-- Start Story 2 -->
<div class="row">
  <!-- Start Caption Div -->
  <div class="col-xs-12 col-sm-6">
    <h3>Lorem Ipsum Title</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales mi eget aliquet porttitor. Donec ac arcu velit. Vestibulum finibus blandit massa ac viverra. Integer in erat id dolor consequat gravida vel at elit. Donec convallis vel leo vitae faucibus. Integer bibendum dui ac nisi volutpat tincidunt. Donec vitae risus ac lectus fermentum pretium eu eu nisl. Quisque ornare sagittis tortor, a luctus erat efficitur id. Integer sed felis et magna rutrum dapibus vel semper urna. Suspendisse placerat molestie pretium. In eu congue mi, laoreet vulputate leo. Cras id nunc quis ante feugiat lobortis ac quis diam. Suspendisse consequat accumsan velit.</p>
  </div>
  <!-- End Caption Div -->

  <!-- Start Image Div -->
  <div class="col-xs-12 col-sm-6">
    <a href="#" class="thumbnail">
      <img src="https://pixabay.com/static/uploads/photo/2016/05/30/23/58/barbie-1426039_960_720.jpg" alt="...">
    </a>
  </div>
  <!-- End Image Div -->
</div>
<!-- End Story 2 -->

<!-- Start Story 3 -->
<div class="row">
  <!-- Start Image Div -->
  <div class="col-xs-12 col-sm-6">
    <a href="#" class="thumbnail">
      <img src="https://pixabay.com/static/uploads/photo/2016/07/11/07/40/farm-girl-1509198_960_720.jpg" alt="...">
    </a>
  </div>
  <!-- End Image Div -->

  <!-- Start Caption Div -->
  <div class="col-xs-12 col-sm-6">
    <h3>Lorem Ipsum Title</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales mi eget aliquet porttitor. Donec ac arcu velit. Vestibulum finibus blandit massa ac viverra. Integer in erat id dolor consequat gravida vel at elit. Donec convallis vel leo vitae faucibus. Integer bibendum dui ac nisi volutpat tincidunt. Donec vitae risus ac lectus fermentum pretium eu eu nisl. Quisque ornare sagittis tortor, a luctus erat efficitur id. Integer sed felis et magna rutrum dapibus vel semper urna. Suspendisse placerat molestie pretium. In eu congue mi, laoreet vulputate leo. Cras id nunc quis ante feugiat lobortis ac quis diam. Suspendisse consequat accumsan velit.</p>
  </div>
  <!-- End Caption Div -->
</div>
<!-- End Story 3 -->